<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/reset.css}" >
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div th:replace="~{fragments/header::header}"></div>

<div layout:fragment="content" class="content"></div>

<th:block layout:fragment="script"></th:block>

<!--<div th:replace="~{fragments/footer::footer}"></div>-->

</body>

</html>