<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Send Mail</title>
    <link rel="stylesheet" type="text/css" href="/css/contact.css"/>
    <script type="text/javascript" src="/js/contact.js" defer></script>
</head>

<body>

<div class="header">

    <nav class="navbar">
        <div class="hamburger-menu">
            &#9776; <!-- 햄버거 아이콘 -->
        </div>
        <div class="navbar-brand">
            <a href="/">
                <img src="/image/logo.png" alt="Logo">
            </a> <!-- 모바일에서는 중앙, 전체 화면에서는 오른쪽 상단 -->
        </div>
        <ul class="navbar-menu">
            <li><a th:href="@{/aboutUs}">About Us</a></li>
            <li><a th:href="@{/goods/list}">Goods</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
            <li><a th:href="#" sec:authorize="isAuthenticated()">Management</a></li>
            <li></li>
        </ul>
    </nav>
</div>

<div class="sendMail">

    <form th:action="@{/contact}" method="post" class="contact-form" autocomplete="off">
        <input type="text" class="subject" name="title" placeholder="제목을 입력하세요">

        <div class="input-group">
            <input type="text" class="name" name="name" placeholder="이름을 입력하세요">
            <input type="text" class="address" name="address" placeholder="이메일 주소를 입력하세요">
        </div>

        <textarea name="content" class="content" placeholder="보낼 내용을 입력하세요"></textarea>

        <div class="button-container">
            <button type="submit"><img src="../image/contact_button.png"></button>
        </div>

    </form>
</div>

</body>

</html>