<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" lang="ko">
</html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Rose Artifacts</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script type="text/javascript" src="/js/script.js" defer></script>
</head>

<div layout:fragment="content">

    <div id="content">
        <section class="mainPage">
            <div class="imageWrap">
                <div class="parallaxImage"></div>
                <div class="parallaxImage"></div>
                <div class="parallaxImage"></div>
                <div class="parallaxImage"></div>
                <div class="parallaxImage"></div>
            </div>
        </section>
    </div>

</div>

</html>