<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/">
                <img src="/image/logo.png" alt="Logo">
            </a>
        </div>
        <div class="hamburger-menu">
            &#9776; <!-- 햄버거 아이콘 -->
        </div>
        <ul class="navbar-menu">
            <li><a th:href="@{/aboutUs}">About us</a></li>
            <li><a href="goods.html">Goods</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
<div class="loginPage">
    <div class="login-wrapper">
        <h2>Sign In</h2>
        <form method="post" action="/auth/loginProc" id="login-form">
            <input type="text" name="username" placeholder="id" autocomplete="off">
            <input type="password" name="password" placeholder="Password" autocomplete="off">
            <button type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>