* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Header 스타일 */
header {
  width: 100%;
  height: 100%; /* 전체 높이로 설정 */
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* 브랜드명 스타일 - 모바일에서는 중앙 상단 */
.navbar-brand {
  position: absolute;
  top: 20px;
  right: 20px; /* 전체 화면에서는 오른쪽 상단에 배치 */
  transform: translateX(0%);
  text-align: right;
}

.navbar-brand span a{
  font-family: "Cormorant Upright", serif;
  font-size: 27px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* Admin 페이지 링크 스타일 */
.navbar-logo {
  position: relative;
}

.navbar-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar-logo a img {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 40px;
}

/* 햄버거 메뉴 아이콘 스타일 */
.hamburger-menu {
  display: none;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* 네비게이션 메뉴 */
.navbar-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 450px; /* header 아래에 위치 */
  right: 20px;
}

.navbar-menu li {
  margin-left: 20px;
  padding: 1.5rem;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-family: "Cormorant Upright", serif;
  font-size: 18px;
  font-weight: 500;
  padding: 8px;
  transition: color 0.3s ease, background-color 0.3s ease;
  outline: none;
}

.navbar-menu li a:hover {
  color: olive;
  background-color: transparent; /* 배경색을 투명하게 설정 */
}

/* 반응형 디자인: 화면이 좁아졌을 때 메뉴가 숨기고 햄버거 메뉴가 나타남 */
@media (max-width: 768px) {
  /* 햄버거 메뉴 활성화 */
  .hamburger-menu {
      display: block;
      font-size: 30px;
      color: white;
      cursor: pointer;
      z-index: 1001;
      transition: color 0.3s ease;
  }

  .hamburger-menu:hover {
    color: #ccc; /* 아이콘에 살짝 변화를 줘서 더 세련된 느낌 */
  }

  /* 햄버거 메뉴 아이콘 애니메이션 */
  .hamburger-menu.active {
    transform: scale(0.9);
    transition: transform 0.2s ease;
  }

  .hamburger-menu:active {
    transform: scale(0.85); /* 클릭할 때 조금 더 작아지는 효과 */
  }

  /* 네비게이션 메뉴 */
  .navbar-menu {
    list-style-type: none;
    position: absolute;
    top: 60px;
    right: -300px; /* 처음에는 화면 밖에 배치 */
    /* width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;*/
    padding: 10px;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1000;
  }

  /* 햄버거 메뉴 클릭 시 메뉴 보이기 */
  .navbar-menu.show {
    right: 20px; /* 슬라이드 인 */
    opacity: 1;  /* 페이드 인 */
  }

  .navbar-menu li {
    margin: 20px 0;
    padding: 0;
    text-align: right;
  }

  .navbar-menu li a {
    color: white;
    text-decoration: none;
    font-family: "Cormorant Upright", serif;
    font-size: 18px;
    transition: color 0.3s ease;
  }

  .navbar-menu li a:hover {
    color: #ccc;
  }

  .navbar-brand {
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
}

section {
  position: relative;
  width: 100%;
}

section.mainPage {
  position: fixed;
  top: 0;
  padding-bottom: 50px;
}

section.mainPage .box {
  width: 100%;
  height: 100vh;
  background-color: black;
}

section.mainPage .imageWrap {
  height: 100vh;
}

section.mainPage .imageWrap .parallaxImage {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-position: 30%
   center;
  background-size: cover;
  background-repeat: no-repeat;
  perspective: 400px;
}

section.mainPage .imageWrap .parallaxImage:nth-child(1) {
  background-image: url(/image/main_0.webp);
}

section.mainPage .imageWrap .parallaxImage:nth-child(2) {
  background-image: url(/image/main_1.webp);
}

section.mainPage .imageWrap .parallaxImage:nth-child(3) {
  background-image: url(/image/main_2.webp);
}

section.mainPage .imageWrap .parallaxImage:nth-child(4) {
  background-image: url(/image/main_3.webp);
}

section.mainPage .imageWrap .parallaxImage:nth-child(5) {
  background-image: url(/image/main_4.webp);
}


/* section.subPage {
  z-index: 10;
  padding-top: 100vh;
  min-height: 60vh;
}

section.subPage .innerWrap {
  position: relative;
}

section.subPage .innerWrap .contWrap {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 40px;
  width: 700px;
}

@media only screen and (max-width: 768px) {
  section.subPage .innerWrap .contWrap {
    width: 100%;
  }
}

section.subPage .innerWrap .contWrap p {
  font-size: 20px;
  line-height: 36px;
  color: #f3f3f3;
  margin: 20px 0;
} */
